.card {
    text-align: center;
    border: none;
    img {
      width: 120px;
      display: block;
      margin: 0 auto;
    }
  }
  
  .a-right {
    button {
      width: 457.5px;
      height: 48px;
      background: #067a46;
      border: none;
      color: #fff;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      font-size: 16px;
    }
    a {
      color: #067a46;
    }
  }
  .button {
    text-align: center;
    padding: 50px 0;
  }
  aside {
    padding: 41px 0;
  }
  .txt {
    text-align: center;
  }
  .tug {
    padding: 24px;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .img1 {
    width: 262px !important;
  }
  .a-left img {
    width: 100%;
  }
  
  @media (max-width: 1400px) {
    .a-main {
      flex-direction: column;
    }
    .a-right {
      text-align: center;
      p br {
        display: none;
      }
      button{
          width: 300px;
      }
    }
  }
  .rasim img{
      width: 100%;
      
      
  }
  h1{
      text-align: center;
  }
  .f-main{
      display: grid;
      grid-template-columns: repeat(5,1fr);
      gap: 40px;
      height: max-content;
      padding: 40px 0;
  }
  p{
      color: #067a46;
      margin-top: 10px;
  }
  @media (max-width: 1050px) {
      
      .f-main{
          display: grid;
          grid-template-columns: repeat(4,1fr);
          gap: 40px;
          height: max-content;
          padding: 40px 0;
      }
      
  }
  @media (max-width: 971px) {
      
      .f-main{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          gap: 40px;
          height: max-content;
          padding: 40px 0;
      }
      
  }
  @media (max-width: 769px) {
      
      .f-main{
          display: grid;
          grid-template-columns: repeat(2,1fr);
          gap: 40px;
          height: max-content;
          padding: 40px 0;
      }
      
  }
  @media (max-width: 457px) {
      
      .f-main{
          display: grid;
          grid-template-columns: repeat(1,1fr);
          gap: 40px;
          height: max-content;
          padding: 40px 0;
      }
      
  }
  .end{
      align-items: center;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     gap: 30px;
  }
  
  .f-left{
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
  }
  